<title>My Q | Opportunity For All</title
      <link rel="stylesheet" href="css/normalize.css">
      <link href='http://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400italic,700italic,400,700,800'
      rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="css/main.css">
      <link rel="stylesheet" href="/css/responsive.css">
    <link href="https://fonts.googleapis.com/css?family=Muli%7CRoboto:400,300,500,700,900"
        rel="stylesheet">
  </head>
  <body>
    <header>
      <a href="http://localhost:3000/home/index" id="logo"></a>
      <h1>Web Application | CS390P</h1>
      <h2>Project_2 </h2>
      <nav>
        <ul>
          <li><a href="http://localhost:3000/home/index"class="selected">Home</a></li>
           <li><a href="http://localhost:3000/students">Students</a></li> <!--More  -->
            <li><a href="http://localhost:3000/courses">Courses</a></li>
            <li><a href="http://localhost:3000/sections">Sections</a></li>
            <li><a href="http://localhost:3000/about/index">About</a></li>
            <li><a href="http://localhost:3000/users/sign_in">Login</a></li>
            <li><a href="http://localhost:3000/users/sign_up">SignUp</a></li>
           <li> <%= link_to 'Log out', destroy_user_session_path, method: :delete %> </li>
            <li><a href="#">Profile</a></li>
        </ul>
      </nav> <!-- Nav ends here -->
    </header> <!-- Header ends here -->

<ul>
<%= link_to 'Courses', "http://localhost:3000/courses" %><br>

<%= link_to 'Sections', "http://localhost:3000/sections" %><br>

<%= link_to 'Students', "http://localhost:3000/students" %>
</ul>

   