<title>My Q | Opportunity For All</title
      <link rel="stylesheet" href="css/normalize.css">
      <link href='http://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400italic,700italic,400,700,800'
      rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="css/main.css">
      <link rel="stylesheet" href="/css/responsive.css">
    <link href="https://fonts.googleapis.com/css?family=Muli%7CRoboto:400,300,500,700,900"
        rel="stylesheet">
  </head>
  <body>
    <header>
      <a href="http://localhost:3000/about/index" id="logo"></a>
      <h1>Web Application | CS390P</h1>
      <h2>Project_2 </h2>
      <nav>
        <ul>
          <li><a href="http://localhost:3000/home/index">Home</a></li>
           <li><a href="http://localhost:3000/students">Students</a></li> <!--More  -->
            <li><a href="http://localhost:3000/courses">Courses</a></li>
            <li><a href="http://localhost:3000/sections">Sections</a></li>
            <li><a href="http://localhost:3000/about/index"class="selected">About</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Profile</a></li>
        </ul>
      </nav> <!-- Nav ends here -->
    </header> <!-- Header ends here -->

<div>
<ul>
<%= link_to 'Home', "http://localhost:3000/home/index" %><br>

<%= link_to 'Courses', "http://localhost:3000/courses" %><br>

<%= link_to 'Sections', "http://localhost:3000/sections" %><br>

<%= link_to 'SPA', "http://localhost:3000/spa/index" %><br>
</ul>
</div>

<strong>
Assignment Two </strong>
<p> 
Add a many-to-many relationship between students and sections. 
Add validations to all your models. For the show methods courses, <br>
 students, and sections, make sure you display all the related data.<br>
  For each foriegn key, make sure you have the appropriate drop-down or
   checkbox selectors. Add a search in each index function. Write unit tests  <br>
   for all code you create. For extra credit, make the searches dynamic using Ajax.</p>
Please write a paper about what you did. The form of your paper must be the following.
<br></p>
Abstract
<br>
<p>What the paper is about in a few sentences.
Motivation
Why should someone read your paper? What will they learn?
</p>Introduction</p>
Problem statement and your approach to the problem.
Method/measurement
What did you do to find the answer? <br>
Include screenshots and git diffs here.
Results
<p>
What is the answer?</p>

<strong>Conclusion</strong>
What are the major points from the paper?
Bibliography

Formal (peer-reviewed: books, journals, etc.)
Informal (non-peer-reviewed: wikipedia, blogs, etc.) <br>
Reflection
What did I learn? <br>
What was easy and difficult?
Please have headings for each of the sections. 
<br>
<p>
<strong>Spelling and grammar count: if I catch it, it must be pretty bad.</strong>
<hr>
</p>
   