<html>
<head>
<title>A very simple jQuery SPA</title>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
 <header>
      <a href="http://localhost:3000/spa/index" id="logo"></a>
      <h1>Web Application | CS390P</h1>
      <h2>Project_2/5 </h2>
      <nav>
        <ul>
        <li><a href="http://localhost:3000/spa/index"class="selected">SPA</a></li>
          <li><a href="http://localhost:3000/home/index">Home</a></li>
           <li><a href="http://localhost:3000/students">Students</a></li> <!--More  -->
            <li><a href="http://localhost:3000/courses">Courses</a></li>
            <li><a href="http://localhost:3000/sections">Sections</a></li>
            <li><a href="http://localhost:3000/about/index">About</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Profile</a></li>
        </ul>
      </nav> <!-- Nav ends here -->
    </header> <!-- Header ends here -->


<div id="Itemlist">
  <button v-on:click="students_selected=true, sections_selected=false, courses_selected=false">students</button>
    <button v-on:click="courses_selected=true, sections_selected=false, students_selected=false">courses</button>
    <button v-on:click="sections_selected=true, students_selected=false, courses_selected=false">sections</button>
   <ul>

    <span v-if="sections_selected">
        <div v-for="section in sections">
            <li>{{section.semester}} - {{section.course_id}}</li>
                <div v-for="course in courses">
                    <span v-if="section.course_id === course.id">
                        {{course.name}}
                    </span>
                </div>
        </div>
    </span>

    <span v-else-if="courses_selected">
        <div v-for="course in courses">
            <li>{{course.name}} Department: {{course.department}}</li>
            <div v-for="section in sections">
                <span v-if="section.course_id === course.id">
                    {{section.semester}} #{{section.number}}
                </span>
            </div>
        </div>
    </span>

    <span v-else-if="students_selected">
        <div v-for="student in students">
            <li>{{student.name}}</li>
                <div v-for="section in sections">
                        {{section.number}}
                </div>
        </div>
    </span>
    </ul>
</div>

<script type="text/javascript">
var ItemsVue = new Vue({
    el: '#Itemlist',
    data: { courses: [],
        students_selected: false,
        sections_selected: false,
        courses_selected: false,
        sections: [],
        students: []
     },
    mounted: function() {
        axios.get('http://localhost:3000/sections.json')
            .then(response => { this.sections = response.data })
            .catch(error => { console.log(error); });
        axios.get('http://localhost:3000/courses.json')
            .then(response => { this.courses = response.data })
            .catch(error => { console.log(error); });
        axios.get('http://localhost:3000/students.json')
            .then(response => { this.students = response.data })
            .catch(error => { console.log(error); });
    }
});
</script>
<div>
<ul>
<%= link_to 'Home', "http://localhost:3000/home/index" %><br>

<%= link_to 'Courses', "http://localhost:3000/courses" %><br>

<%= link_to 'Sections', "http://localhost:3000/sections" %><br>

<%= link_to 'SPA', "http://localhost:3000/spa/index" %><br>
</ul>
</div>
<section>
<hr>
<hr>
<p>
<strong> About: <br>Assignment 5</strong>
<p> You use your assignment two's JSON API to create a Single Page Application. <br> 
Display everything your app did via HTML in your SPA. <br>
Make sure to make all requests via Ajax so that the URL does not change <br>
even though the information displayed does.  
You are not required to upload information,
 only display it; <br>C/U/D operations via Ajax are extra credit.</p> <br>
 I recommend putting your .html file in the public directory of your 
 application so you don't run into any CORS issues. <br>Remember to bring up your <br>
 browser's web console to help you debug your SPA. 
 <p>You can also use the console.log method to print values to the web console.</p>

Some example SPAs are at https://github.com/drsjb80/SPAs.git <br>
<p>
<strong>You must include a link to your GitHub repo for this assignment in your paper. <strong> </p>
</p>
<hr>
</section>
</body>
</html>