html>
<head>
<title>A very simple jQuery SPA</title>
<script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
</head>
<body>

<button onclick="fetch('students', ['name',])">Students</button>
<button onclick="fetch('courses', ['name'])">Courses</button>
<button onclick="fetch('sections', ['name'])">Sections</button>

<div id="list">
</div>


<script>
var fetch = function(which, fields) {
    $("#list").empty();
    $.get("http://localhost:3000/" + which + ".json", true)
    .done(function(json) {
        for (item in json) {
            lis = "<li>";
            for (field in fields) {
                lis += json[item][fields[field]] + " ";
            }
            lis += "</li>";
            $("#list").append(lis);
        }
    })
    .fail(function(json){ console.log("fail"); })
};
</script>
<!-- Home Page Added -->
<div>
<ul>
<%= link_to 'Home', "http://localhost:3000/home/index" %><br>

<%= link_to 'Courses', "http://localhost:3000/courses" %><br>

<%= link_to 'Sections', "http://localhost:3000/sections" %><br>

<%= link_to 'Home', "http://localhost:3000/spa/index" %><br>
</ul>
</div>

</body>
</html>